* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

body {
    background-color: #e8e8e8;
    min-width: 540px;
}

.header-conteiner {
    background-color: brown;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-hamburguer{
    display: none;
    width: 32px;
    margin-right: 32px;

}

.menu-hamburguer span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}
.nav-container {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    

}

.nav-container h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2.5rem;
    padding: 10px 0;
}
.nav-menu{
    background-color: rgb(143, 36, 36);
    width: 100%;
    padding: 10px 0;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    

}

.nav-menu li {

    list-style: none;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

.nav-menu li a:hover{
    opacity: .8;
}

.nav-menu li a:active {
    opacity: .5;
}

main {
    max-width: 1024px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.sobre-container img {
    width: 350px;
}

.sobre-container {
    display: flex;
    margin: 32px 0;
    gap: 32px;
}

.sobre-loja h2 {
    color: brown;
    padding-bottom: 10px;
    border-bottom: 2px solid brown;
}

.sobre-loja p {
    padding-top: 32px;
}

.produtos-container h2 {
    color: brown;
    max-width: 1024px;
    padding-bottom: 10px;
    border-bottom: 2px solid brown;
}

.produtos-cards {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 16px;
}

.cards-itens img {
    width: 100%;
}

.cards-itens img:hover {
    opacity: .8;
}

.cards-itens button:hover {
    opacity: .8;
    cursor: pointer;
}

.cards-itens button:active {
    opacity: .5;
    cursor: pointer;
}

.cards-itens {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards-itens button {
    color: #fff;
    background-color: brown;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    padding: 10px 0;
}

.cards-itens p {
    padding: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: #fff;
    height: 50px;
    gap: 60px;

}

.social a img {
    width: 30px;
}

@media screen and (max-width: 1023px) {
    .header-conteiner {
            background-color: brown;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            border-bottom: 5px solid rgb(8 3 3 / 20%);
        }
    .nav-container {
        max-width: 1024px;
        padding: 0 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    main {

        padding: 0 10%;
    }

    .sobre-container {
        display: flex;
        flex-direction: column;

    }

    .sobre-container img {
        margin: 0 auto;
        width: 90%;
    }

    .cards-itens p {
        padding: 5px;
        height: 100%;
        text-align: center;
    }

        .produtos-cards {
            max-width: 1024px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            margin: 16px;
        }
}
@media screen and (max-width: 640px){
    .produtos-cards {
            max-width: 1024px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            margin: 16px;
        }
    
        .menu-hamburguer {
            display: block;
            width: 32px;
            margin-right: 32px;
    
        }
    
        .menu-hamburguer span {
            height: 2px;
            width: 100%;
            background-color: #fff;
            display: block;
            margin-bottom: 4px;
        }
    
        .nav-container {
            max-width: 1024px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .nav-menu{
            display: none;
        }
}

